@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng bạn đã đến với HUMG</h1>
    <p>Add <a href="https://docs.microsoft.com/aspnet/core">Mình là sinh viên năm 4 của HUMG</a>.</p>
</div>
