<h1>Bỏ dấu</h1>
<form  asp-action="RemoveVietnameseAccents">
    <label>Nhập chuỗi:</label>
    <input type= "text" name= "strInput">
    <input type="submit" value="Xử lý chuỗi">
</form>
<h2>@ViewBag.a</h2>